@tailwind base;
@tailwind components;
@tailwind utilities;

@import "antd.custom.css";

::-webkit-scrollbar {
    width: 5px;
    
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #292626;
}

::-webkit-scrollbar-thumb {
    background: #19823E80;
}

::-webkit-scrollbar-thumb:hover {
    background: #1DB95480;
}
