@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
    
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #292626;
}

::-webkit-scrollbar-thumb {
    background: #19823E80;
}

::-webkit-scrollbar-thumb:hover {
    background: #1DB95480;
}

.ant-drawer-header {
    background-color: #121212;

    opacity: 97.5%;
}

.ant-drawer-body {
    background-color: #121212;

    padding: 20px 20px !important;
}

.ant-drawer-title {
    padding: 0px 10px;

    color: #E9E9E9 !important;
}
